@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300;1,400&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Mohave', sans-serif;
    letter-spacing: 5px;
    scroll-behavior: smooth;
    position: relative;
}
body{
    background-image: url(./img/UNDEFINED.gif);
    background-size:contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
    background-position: top center;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
    
    
}
header{
    position: sticky;
    top: 0;
}
.head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5)
}
.logo{
    padding: 10px;
    display: flex;
    align-items: center;
}
.text-logo{
    padding: 20px;
    color: white;
    font-size: 10px;
}
.logo img{
    width: 100px;
    border-radius: 50%;
    height: 100px;
}
.botonera ul{
    display: flex;
}
.botonera ul li{
    padding: 0px 10px;
}
.botonera ul li a{
    color: white;
}
/* banner */
.banner{
    width: 98vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
}
.banner h2{
    font-size: 60px;
    color: white;
padding:  0px 200px;
background-color: rgba(0, 0, 0, 0.60);
}
/*cambio de colorsito*/
.banner p{
    font-size: 30px;
    color: #FC29FF; 
    background-color: rgba(0, 0, 0, 0.60);
    padding: 0;
}

/* About Us*/
.aboutus{
    display: flex;
    justify-content: space-around;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
}
.aboutus iframe{
    padding: 50px 20px;
    width: 600px;
    height: 420px;
}
.text-about{
    border:dashed 1.5px #9B0185;
    padding: 60px 30px;
}
.aboutus h2{
    color: white;
    font-size: 40px;
}
.aboutus p{
    color: white;
    width: 500px;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
}
/*Latest Updates*/
.lastupdate{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
    color: white;
    height: 120vh;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);

}
.cards{
    display: flex;
    justify-content: space-around;
    padding: 50px 0px;
    flex-wrap: wrap;
}

.card{
    width: 300px;
    height: 380px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0) 0%, rgb(34, 34, 34) 100%);
    margin: 30px;
    border-radius: 40px 40px 5px 5px;
    display: flex;
    flex-direction: column;
    color: white;
    box-shadow: #9B0185 5px 10px 200px 20px;}
.card img{
    width: 300px;
    height: 200px;
    border-radius: 40px 40px 0px 0px;
}
.card p{
    padding-top: 20px;
}
.card .descripcion{
    padding: 20px 20px 0px 20px;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 12px;
}
.lastupdate button{
    width: 200px;
    height: 70px;
    border-radius: 15px;
    background-color: #9B0185;
    color: white;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
    
}
footer{
    width:100%;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    position: absolute;
    bottom: 0;
}
.div-foot{
    display: flex;
    justify-content: space-between;
    padding: 0 4em;
}
footer a:any-link{
    color:white;
}
.botones-foot{
    display: flex;
    justify-content: space-around;
}
.botones-foot li{
    padding: 0 1em;
}
.icon{
    font-size:1.5rem;
}
.contactillo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer p{
    text-align: center;
}
.oculto{
    display:none;
}